* body{
    margin: 0;
}
/* Mobile 375px */
/* SECCION NAV */
@media screen and (min-width:375px ){
    .nav-bar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    }

    .content-left{
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    }
    .fa-bars, .fa-shopping-cart{
    font-size: 20px;
    margin: 10px;
    color: hsl(219, 9%, 45%);
    }
    .content-right{
    display: flex;
    align-content: flex-end;
    }
    .logo{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    margin: 0 10px 0 10px;
    color: hsl(220, 13%, 13%);
    }
/* agregar al perfil el hover  */

    .content-profile{
    width: 28px;
    height: 28px;
    padding: 5px;
    }
/* menu mobile */
    .content-menu-mobile{
    width: 230px;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    padding-top:10px;
    padding-left:30px;
    background-color: white;
    display: none;
    z-index: 1;
    }
    .fa-times{
    font-size: 18px;
    color: hsl(219, 9%, 45%);
    }
    .list-menu{
    list-style: none;
    padding: 0;
    }
    .list-menu > li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: hsl(220, 13%, 13%);
    }

/* modal carrito vacio */
    .content-modal-shopping-cart{
        display: flex;
        justify-content: center;
    } 
    .modal-cart-empty{
    display: flex;
    background-color:white;
    border-radius: 10px;
    width: 360px;
    height: 250px;
    box-shadow: -2px 3px 23px -1px rgba(196,192,196,1);
    flex-direction: column;
    
    }
    .title-modal{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    padding: 18px;
    margin: 0;
    }
    .text-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color: hsl(219, 9%, 45%);
    height: 100%;
    display: none;
    }
    hr {
    border:0;
    width: 100%;
    border-top: 1px solid hsl(210, 2%, 84%); 
    height:0;
    }
    /* modal carrito lleno*/
    .basquet-filled{
     display: flex;
     position: relative;
     z-index: 1;
    align-items: center ;
    
    justify-content: space-around;
    }
    .miniatura-modal{
        width: 50px;
        height: 50px;
        border-radius: 5px; 
    }
    .description-product-modal{
        display: flex;
        flex-direction: column;

    }
    .content-icon-trash{
        display: flex;
    }
    .content-btn-checkout{
        padding: 0 20px;
    }
    .content-menu-desktop, .line{
    display: none;
    }
    /*imagenes producto*/
    .content-img-product{
        display: none;  
    }
    .carrousel {
        width: 100%;
        height: 370px;
        margin: 0;
        padding-top: 10px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #imagen {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
    }
   
    .fa-chevron-circle-left{
        font-size: 30px;
        color: white;
        position: absolute;
        top:200px;
        left: 10px;
    }
    .fa-chevron-circle-right{
        font-size: 30px;
        color:white;
        position: absolute;
        top:200px;
        right: 10px;
    }
    /* informacion de producto- textos */
    .content-info-product{
        margin:0 20px 0 20px;
    }
    .title{
        font-family:'Kumbh Sans', sans-serif; 
    }
    .text-product{
        font-family:'Kumbh Sans', sans-serif; 
        font-weight:normal;
        color: hsl(220, 3%, 65%);
    }
    .content-price{
        display: flex;
        justify-content: space-between;
        width: 100%;
        justify-items: left;
        align-items: baseline;   
    }
    .price{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .tag-price{
        width: 54px;
        height: 28px;
        border-radius: 3px;
        background-color:hsl(25, 100%, 94%);
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-title{
        font-family:'Kumbh Sans', sans-serif;
        color: hsl(36deg 100% 55%);
        font-size: 14px;
        font-weight: 600;     
    }
    .discount-price{
        text-decoration: line-through;
        font-weight:600
    }
    /* seccion carrito agregar unidades y boton */
    .content-add-cart{
      display: flex;
      flex-direction: column;  
    }
    .unit-counter{
        background-color: rgb(246, 246, 246);
        border-radius: 5px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0 10px 0;
        font-weight: 600;
        font-size: 18px;
        font-family:'Kumbh Sans', sans-serif;
    }
    .btn-minus ,.btn-plus{
        border: none;
        background-color:rgb(246, 246, 246);
    }
    
    .btn-buy-cart ,.btn-checkout{
        width: 100%;
        height: 50px;
        background-color: hsl(26, 100%, 55%);
        border-radius: 5px;
        border:none;
        box-shadow:0px 18px 34px -19px rgba(250,182,73,0.7);
        color: white;
        font-family:'Kumbh Sans', sans-serif;
        font-weight: 600;
    }
    .btn-buy-cart:hover{
        opacity: 0.7;
    }
    .btn-buy-cart >.fa-shopping-cart{
        color: white;
    }
    .fa-plus, .fa-minus{
        color: hsl(26, 100%, 55%);
        font-size: 14px;
    }

}
.ocultar{
    display: none;
}
/**** DESKTOP 1440px ****/

@media screen and (min-width:1424px) and (max-width:1440px){
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: baseline;
    }
    
    .content-right{
        display: flex;
        align-content: flex-end;
        align-items:center;
        justify-content: space-evenly;
        cursor: pointer;
    }
    .content-right > .fa-shopping-cart{
        margin-right: 40px;
    }
    #icon-menu-mobile, .content-menu-mobile{
        display: none;
    }
    .content-menu-desktop{
        display: flex;
        flex-grow: 2;
        font-family: 'Kumbh Sans', sans-serif;
    }
    .list-menu{
        display: flex;   
    }
    .list-menu > li{
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 20px 0 20px;
        font-weight:normal;
        color: hsl(220, 3%, 65%);
        cursor: pointer;
    }  
    .list-menu li:hover{
        font-weight: 400;
        color: black;
    }
    .list-menu li {
        position: relative;
        display: block;
        padding-bottom: 20px;
    }  
    .list-menu li::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: hsl(26, 100%, 55%);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
    .list-menu li:hover::before {
        transform: scaleX(1);
    }  
    .content-profile{
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 50%;
        border:1px solid transparent;
    }
    .content-profile:hover{
        border:1px solid orange;
    }
    .center{
        margin: 0 50px 0 50px;
    }
    .line{
        display: block;
        width: 95%;
        position:absolute;
        top:66px;  
    }
   
    .content-modal-shopping-cart{
        position: absolute;
        right: 70px;
    } 
    .basquet-filled{
        display: flex;
    }

    /* Seccion imagenes productos */
    .carrousel{
        display: none;
    }
    .content-principal{
        display: flex;
        justify-content: space-evenly
    }
    .content-img-product, .content-info-product{
        display: flex;
        width: 445px;
        height: 445px;
        border-radius: 30px;
        margin-top: 60px;
        flex-direction: column;
    }
    .img-product{
        border-radius: 20px;
    }
    .content-miniaturas{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
    .miniatura{
        width: 93px;
        height: 93px;
        border-radius: 5px;
        cursor: pointer; 
    }
   
    .miniatura:hover{
        transition:all .5s ease-in-out;
        filter: opacity(.5);
        
    }
    .content-price{
        display: flex;
        flex-direction: column;
    }
    .content-add-cart{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;  
    }
    .fa-minus, .fa-plus{
        cursor: pointer;
    }
    .unit-counter{
        width: 160px;
    }
    .btn-buy-cart{
        width: 272px;
        cursor: pointer;
    }
}


